.chart-creation {
  padding: 50px 40px 40px 40px;
  min-height: 100vh;
}

.table-wrapper {
  margin-top: 30px;
}

.chart-input-table-container {
  margin-top: 15px;
}

.chart-factory-container {
  height: 260px;
}

.chart-factory-container canvas {
  height: 100% !important;
}

@media (min-width: 600px) {
  .chart-factory-container {
    height: 320px;
  }
}

@media (min-width: 900px) {
  .chart-factory-container {
    height: 380px;
  }
}

@media (min-width: 1200px) {
  .chart-factory-container {
    height: 460px;
  }
}
